*.blend filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
*.dae filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
models/robosub26/collection_table filter=lfs diff=lfs merge=lfs -text
models/robosub26/gate filter=lfs diff=lfs merge=lfs -text
models/robosub26/milkcrate filter=lfs diff=lfs merge=lfs -text
models/robosub26/milkcrate_blood filter=lfs diff=lfs merge=lfs -text
models/robosub26/slalom filter=lfs diff=lfs merge=lfs -text
models/robosub26/torpedo_panel_base filter=lfs diff=lfs merge=lfs -text
models/robosub26/torpedo_panel_v2 filter=lfs diff=lfs merge=lfs -text
models/robosub26/milkcrate_fire filter=lfs diff=lfs merge=lfs -text
models/robosub26/octagon filter=lfs diff=lfs merge=lfs -text
models/robosub26/torpedo_panel_v1 filter=lfs diff=lfs merge=lfs -text
media/materials/textures/robosub26/Task03_Fire.png filter=lfs diff=lfs merge=lfs -text
media/materials/textures/robosub26/Task04_v1.png filter=lfs diff=lfs merge=lfs -text
media/materials/textures/robosub26/Task05_RedCross.png filter=lfs diff=lfs merge=lfs -text
media/materials/textures/robosub26/Task05_Rescue.png filter=lfs diff=lfs merge=lfs -text
media/materials/textures/robosub26/Task05_Search.png filter=lfs diff=lfs merge=lfs -text
media/materials/textures/robosub26/Task03_Blood.png filter=lfs diff=lfs merge=lfs -text
media/materials/textures/robosub26/Task04_v2.png filter=lfs diff=lfs merge=lfs -text
media/materials/textures/robosub26/Task05_Electric.png filter=lfs diff=lfs merge=lfs -text
media/materials/textures/robosub26/Task05_NutBolt.png filter=lfs diff=lfs merge=lfs -text
media/materials/textures/robosub26/Task05_Pill.png filter=lfs diff=lfs merge=lfs -text
media/materials/textures/robosub26/Task05_Repair.png filter=lfs diff=lfs merge=lfs -text
media/materials/textures/robosub26/Task01_SurveyRepair.png filter=lfs diff=lfs merge=lfs -text
media/materials/textures/robosub26/Task05_Warning.png filter=lfs diff=lfs merge=lfs -text
media/materials/textures/robosub26/Task01_SearchRescue.png filter=lfs diff=lfs merge=lfs -text
media/materials/textures/robosub26/Task05_BandAid.png filter=lfs diff=lfs merge=lfs -text
media/materials/textures/robosub26/Task05_Survey.png filter=lfs diff=lfs merge=lfs -text
models/robosub26/octagon/model.config filter=lfs diff=lfs merge=lfs -text
models/robosub26/torpedo_panel_v1/model.config filter=lfs diff=lfs merge=lfs -text
models/robosub26/torpedo_panel_v2/model.sdf filter=lfs diff=lfs merge=lfs -text
models/robosub26/milkcrate_blood/model.config filter=lfs diff=lfs merge=lfs -text
models/robosub26/milkcrate/model.config filter=lfs diff=lfs merge=lfs -text
models/robosub26/milkcrate/model.sdf filter=lfs diff=lfs merge=lfs -text
models/robosub26/gate/model.sdf filter=lfs diff=lfs merge=lfs -text
models/robosub26/milkcrate_blood/model.sdf filter=lfs diff=lfs merge=lfs -text
models/robosub26/slalom/model.config filter=lfs diff=lfs merge=lfs -text
models/robosub26/torpedo_panel_v2/model.config filter=lfs diff=lfs merge=lfs -text
models/robosub26/collection_table/task05_redcross_decal.dae filter=lfs diff=lfs merge=lfs -text
models/robosub26/collection_table/Task05_RedCross.png filter=lfs diff=lfs merge=lfs -text
models/robosub26/collection_table/task05_warning_decal.dae filter=lfs diff=lfs merge=lfs -text
models/robosub26/collection_table/collection_table.dae filter=lfs diff=lfs merge=lfs -text
models/robosub26/milkcrate/clevermade.glb filter=lfs diff=lfs merge=lfs -text
models/robosub26/torpedo_panel_v2/model.glb filter=lfs diff=lfs merge=lfs -text
models/robosub26/milkcrate_fire/model.config filter=lfs diff=lfs merge=lfs -text
models/robosub26/torpedo_panel_v1/model.sdf filter=lfs diff=lfs merge=lfs -text
models/robosub26/torpedo_panel_v2/model.blend filter=lfs diff=lfs merge=lfs -text
models/robosub26/slalom/mesh.dae filter=lfs diff=lfs merge=lfs -text
models/robosub26/torpedo_panel_base/model.config filter=lfs diff=lfs merge=lfs -text
models/robosub26/torpedo_panel_v1/model.glb filter=lfs diff=lfs merge=lfs -text
models/robosub26/gate/model.config filter=lfs diff=lfs merge=lfs -text
models/robosub26/milkcrate_fire/model.sdf filter=lfs diff=lfs merge=lfs -text
models/robosub26/octagon/model.sdf filter=lfs diff=lfs merge=lfs -text
models/robosub26/slalom/model.sdf filter=lfs diff=lfs merge=lfs -text
models/robosub26/collection_table/collection_table.sdf filter=lfs diff=lfs merge=lfs -text
models/robosub26/collection_table/model.config filter=lfs diff=lfs merge=lfs -text
models/robosub26/collection_table/Task05_Warning.png filter=lfs diff=lfs merge=lfs -text
models/robosub26/torpedo_panel_v2/Task04_v2.png filter=lfs diff=lfs merge=lfs -text
models/robosub26/collection_table/collection_table.blend filter=lfs diff=lfs merge=lfs -text
models/robosub26/torpedo_panel_v1/model.blend filter=lfs diff=lfs merge=lfs -text
models/robosub26/torpedo_panel_v1/Task04_v1.png filter=lfs diff=lfs merge=lfs -text
models/robosub26/slalom/gen_mesh.py filter=lfs diff=lfs merge=lfs -text
models/robosub26/slalom/requirements.txt filter=lfs diff=lfs merge=lfs -text
models/robosub26/torpedo_panel_base/model.sdf filter=lfs diff=lfs merge=lfs -text
