<?xml version="1.0"?>
<model>
  <name>Bin</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>Brandon Kallaher</name>
    <email>brandonj@kallaher.org</email>
  </author>
  <description>A base model for the competition bins with the spirit images</description>
</model>
