<?xml version="1.0"?>
<model>
  <name>Robosub 26 Bins Container</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>bb_worlds</name>
    <email>maintainer@bb_worlds</email>
  </author>
  <description>A model for the competition bins container</description>
</model>
