<?xml version="1.0"?>
<model>
  <name>led_beacon</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>bumblebeeAS</name>
    <email>bumblebeeauv@gmail.com</email>
  </author>
  <description>RobotX 2026 Safe Passage beacon base (buoy + dark LED). Colored indicators are separate models (led_beacon_red/green/blue) that the led_beacon_driver toggles in and out of view.</description>
</model>
